---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/MerchandisingService?CONSUMER-ID=APP_ID&OPERATION-NAME=getRelatedCategoryItems&RESPONSE-DATA-FORMAT=XML&REST-PAYLOAD=&SERVICE-NAME=MerchandisingService&SERVICE-VERSION=1.5.0&itemId=170192529715
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Ebay-Esb-Endpointurl:
      - "/Root/ESBFunctions/Services/Ports/7003/profile/ns/v1/MerchandisingService/destination_default/address_synapse"
      X-Ebay-Esb-Guid:
      - urn:uuid:DB533DA0949BBF40A41321290050773
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - getRelatedCategoryItems
      X-Ebay-Soa-Request-Id:
      - 13396c8d-2b40-a0a3-d662-7a72fffbbba1!MerchandisingService!10.10.61.102!v3soa1core[]
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/services}MerchandisingService"
      X-Ebay-Soa-Service-Version:
      - 1.5.0
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><getRelatedCategoryItemsResponse
        xmlns="http://www.ebay.com/marketplace/services"><ack>Failure</ack><errorMessage><error><errorId>8</errorId><domain>Marketplace</domain><severity>Error</severity><category>Application</category><message>Please
        specify a valid itemId.</message><subdomain>MarketplaceCommon</subdomain></error></errorMessage><version>1.5.0</version><timestamp>2011-11-12T07:58:23.459Z</timestamp></getRelatedCategoryItemsResponse>
  recorded_at: Mon, 28 Apr 2014 10:41:26 GMT
recorded_with: VCR 2.9.0
