---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByKeywords&RESPONSE-DATA-FORMAT=XML&REST-PAYLOAD=&SECURITY-APPNAME=APP_ID&SECURITY-VERSION=1.12.0&keywords=harry%20potter%20phoenix
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Guid:
      - 145b220e-d270-a5ea-e767-6d27f5927800
      X-Ebay-Request-Id:
      - 145b220e-d270-a5ea-e767-6d27f5927800!services.search.FindingService.v1!10.94.174.118!esvcsesb[]
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - findItemsByKeywords
      X-Ebay-Soa-Request-Id:
      - 145b220e-cf30-a5e6-a906-9ac6ffdfa321!FindingService!10.94.106.144!v3apifindingcore[!FindItemServiceNextGen!10.94.106.144!v3apifindingcore[!MetadataDependencyService!10.94.142.98!v3mddscore[]]]
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Metrics:
      - '2438906970'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      X-Ebay-Soa-Service-Version:
      - 1.12.0
    body:
      encoding: UTF-8
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><findItemsByKeywordsResponse
        xmlns="http://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.12.0</version><timestamp>2014-04-30T10:14:35.896Z</timestamp><searchResult
        count="100"><item><itemId>261462642812</itemId><title>Harry Potter and the
        Order of the Phoenix  WII game</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>139973</categoryId><categoryName>Video
        Games</categoryName></primaryCategory><galleryURL>http://thumbs1.ebaystatic.com/m/mDgfFlBrqb5zKWtdEcyp5pg/140.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/Harry-Potter-and-Order-Phoenix-WII-game-/261462642812?pt=Video_Games_Games</viewItemURL><productId
        type="ReferenceID">56277256</productId><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><postalCode>12723</postalCode><location>Callicoon,NY,USA</location><country>US</country><shippingInfo><shippingServiceCost
        currencyId="USD">2.95</shippingServiceCost><shippingType>FlatDomesticCalculatedInternational</shippingType><shipToLocations>US</shipToLocations><shipToLocations>CA</shipToLocations><shipToLocations>GB</shipToLocations><shipToLocations>AU</shipToLocations><shipToLocations>AT</shipToLocations><shipToLocations>BE</shipToLocations><shipToLocations>FR</shipToLocations><shipToLocations>DE</shipToLocations><shipToLocations>IT</shipToLocations><shipToLocations>JP</shipToLocations><shipToLocations>ES</shipToLocations><shipToLocations>TW</shipToLocations><shipToLocations>NL</shipToLocations><shipToLocations>CN</shipToLocations><shipToLocations>HK</shipToLocations><shipToLocations>MX</shipToLocations><shipToLocations>DK</shipToLocations><shipToLocations>RO</shipToLocations><shipToLocations>SK</shipToLocations><shipToLocations>BG</shipToLocations><shipToLocations>CZ</shipToLocations><shipToLocations>FI</shipToLocations><shipToLocations>HU</shipToLocations><shipToLocations>LV</shipToLocations><shipToLocations>LT</shipToLocations><shipToLocations>MT</shipToLocations><shipToLocations>EE</shipToLocations><shipToLocations>GR</shipToLocations><shipToLocations>PT</shipToLocations><shipToLocations>CY</shipToLocations><shipToLocations>SI</shipToLocations><shipToLocations>SE</shipToLocations><shipToLocations>KR</shipToLocations><shipToLocations>ID</shipToLocations><shipToLocations>TH</shipToLocations><shipToLocations>IE</shipToLocations><shipToLocations>PL</shipToLocations><shipToLocations>RU</shipToLocations><shipToLocations>IL</shipToLocations><shipToLocations>NZ</shipToLocations><expeditedShipping>false</expeditedShipping><oneDayShippingAvailable>false</oneDayShippingAvailable><handlingTime>1</handlingTime></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">5.2</currentPrice><convertedCurrentPrice currencyId="USD">5.2</convertedCurrentPrice><bidCount>2</bidCount><sellingState>Active</sellingState><timeLeft>P0DT3H42M33S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2014-04-25T13:57:08.000Z</startTime><endTime>2014-04-30T13:57:08.000Z</endTime><listingType>Auction</listingType><gift>false</gift></listingInfo><returnsAccepted>true</returnsAccepted><galleryPlusPictureURL>http://galleryplus.ebayimg.com/ws/web/261462642812_1_0_1.jpg</galleryPlusPictureURL><condition><conditionId>4000</conditionId><conditionDisplayName>Very
        Good</conditionDisplayName></condition><isMultiVariationListing>false</isMultiVariationListing><topRatedListing>true</topRatedListing></item><item><itemId>221423548118</itemId><title>Harry
        Potter and the Order of the Phoenix (DVD, 2 Disc Special Edition)</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>617</categoryId><categoryName>DVDs
        &amp; Blu-ray Discs</categoryName></primaryCategory><galleryURL>http://thumbs3.ebaystatic.com/m/mX7VLYcWXV7nSoNOSA2SwTg/140.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/Harry-Potter-and-Order-Phoenix-DVD-2-Disc-Special-Edition-/221423[...]
