---
http_interactions:
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?APPID=APP_ID&CALLNAME=FindPopularSearches&QueryKeywords=dell&RESPONSEENCODING=XML&SITEID=0&VERSION=745
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Last-Modified:
      - Sat, 12 Nov 2011 07:58:25 GMT
      X-Ebay-Api-Build-Tag:
      - E745_CORE_BUNDLED_14025482_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___dW0ucnAqMzVjMWI1MygyNSgxLTc2NS00MjE5PTY/Mw==
      X-Ebay-Esb-Guid:
      - urn:uuid:22667A74B6C5FB748436593776732353636-2062244449
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <FindPopularSearchesResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2011-11-12T07:58:25.597Z</Timestamp>\n
        \  <Ack>Success</Ack>\n   <Build>E745_CORE_BUNDLED_14025482_R1</Build>\n   <Version>745</Version>\n
        \  <PopularSearchResult>\n    <QueryKeywords>dell</QueryKeywords>\n    <AlternativeSearches>dell
        laptop;dell desktop;laptop;dell xps;dell inspiron</AlternativeSearches>\n
        \   <RelatedSearches>hp;dell axim x30;dell latitude;acer;dell phone;dell optiplex;alienware
        laptop;dell precision;dell tablet;dell pc;dell lot;alienware;dell tower;compaq;dell
        printer</RelatedSearches>\n   </PopularSearchResult>\n  </FindPopularSearchesResponse>\n "
  recorded_at: Mon, 28 Apr 2014 10:41:26 GMT
recorded_with: VCR 2.9.0
