---
http_interactions:
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?APPID=APP_ID&CALLNAME=FindPopularSearches&QueryKeywords=dell&RESPONSEENCODING=XML&SITEID=0&VERSION=799
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Guid:
      - 145b2281-15e0-a620-4fd0-a520f8af64f6
      Last-Modified:
      - Wed, 30 Apr 2014 10:22:21 GMT
      X-Ebay-Api-Build-Tag:
      - E849_CORE_APILW2_16526615_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___ZW9nNGQ3MWYrNWA0NygyNSg+Oys2KTI3Nz07NT43
      X-Ebay-Request-Id:
      - 145b2281-15e0-a620-4fd0-a520f8af64f6!shopping!10.98.4.253!esbshopping[]
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <FindPopularSearchesResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2014-04-30T10:22:21.581Z</Timestamp>\n
        \  <Ack>Success</Ack>\n   <Build>E849_CORE_APILW2_16526615_R1</Build>\n   <Version>849</Version>\n
        \  <PopularSearchResult>\n    <QueryKeywords>dell</QueryKeywords>\n    <AlternativeSearches>dell
        desktop computer;dell laptop;dell inspiron;dell xps;hp;dell optiplex</AlternativeSearches>\n
        \   <RelatedSearches>dell desktop;laptop;alienware;dell server;asus;dell latitude;dell
        tablet;acer;dell precision;dell i7;dell monitor;macbook;lenovo;hp laptop</RelatedSearches>\n
        \  </PopularSearchResult>\n  </FindPopularSearchesResponse>\n "
  recorded_at: Wed, 30 Apr 2014 10:22:21 GMT
recorded_with: VCR 2.9.0
