---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByProduct&RESPONSE-DATA-FORMAT=XML&REST-PAYLOAD=&SECURITY-APPNAME=APP_ID&SECURITY-VERSION=1.11.0&productId=53039031&productId.@type=ReferenceID
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Ebay-Esb-Endpointurl:
      - "/Root/ESBFunctions/Services/Ports/7003/profile/search/v1/FindingService/destination_default/address_synapse"
      X-Ebay-Esb-Guid:
      - urn:uuid:DB533DA0949BBF40A41321290044147
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - findItemsByProduct
      X-Ebay-Soa-Request-Id:
      - 13396c8b-dbc0-a0aa-1695-87a5ffed6c1c!FindingService!10.10.161.105!v3apifindingcore[!FindItemService!10.10.161.105!v3apifindingcore[]!FindItemService!10.10.161.105!v3apifindingcore[]]
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      X-Ebay-Soa-Service-Version:
      - 1.11.0
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><findItemsByProductResponse xmlns="http://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.11.0</version><timestamp>2011-11-12T07:58:18.326Z</timestamp><searchResult
        count="100"><item><itemId>320792238431</itemId><title>The Little Mermaid (DVD,
        2006, 2-Disc Set, Platinum Edition) FREE Shipping</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>617</categoryId><categoryName>DVD,
        HD DVD &amp; Blu-ray</categoryName></primaryCategory><galleryURL>http://thumbs4.ebaystatic.com/pict/3207922384314040_1.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/Little-Mermaid-DVD-2006-2-Disc-Set-Platinum-Edition-FREE-Shipping-/320792238431?pt=US_DVD_HD_DVD_Blu_ray</viewItemURL><productId
        type="ReferenceID">53039031</productId><paymentMethod>PayPal</paymentMethod><autoPay>true</autoPay><postalCode>44677</postalCode><location>Smithville,OH,USA</location><country>US</country><shippingInfo><shippingServiceCost
        currencyId="USD">0.0</shippingServiceCost><shippingType>Free</shippingType><expeditedShipping>true</expeditedShipping><oneDayShippingAvailable>false</oneDayShippingAvailable><handlingTime>1</handlingTime><shipToLocations>US</shipToLocations></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">19.95</currentPrice><convertedCurrentPrice currencyId="USD">19.95</convertedCurrentPrice><sellingState>Active</sellingState><timeLeft>P29DT17H54M31S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2011-11-12T01:52:49.000Z</startTime><endTime>2011-12-12T01:52:49.000Z</endTime><listingType>FixedPrice</listingType><gift>false</gift></listingInfo><returnsAccepted>false</returnsAccepted><condition><conditionId>4000</conditionId><conditionDisplayName>Very
        Good</conditionDisplayName></condition><isMultiVariationListing>false</isMultiVariationListing></item><item><itemId>220890475712</itemId><title>The
        Little Mermaid (DVD, 2006, 2-Disc Set, Platinum ...</title><globalId>EBAY-US</globalId><subtitle>SPECIAL
        EDITION</subtitle><primaryCategory><categoryId>617</categoryId><categoryName>DVD,
        HD DVD &amp; Blu-ray</categoryName></primaryCategory><galleryURL>http://thumbs1.ebaystatic.com/pict/2208904757124040_1.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/Little-Mermaid-DVD-2006-2-Disc-Set-Platinum-/220890475712?pt=US_DVD_HD_DVD_Blu_ray</viewItemURL><productId
        type="ReferenceID">53039031</productId><paymentMethod>PayPal</paymentMethod><autoPay>true</autoPay><postalCode>33813</postalCode><location>Lakeland,FL,USA</location><country>US</country><shippingInfo><shippingServiceCost
        currencyId="USD">3.0</shippingServiceCost><shippingType>Flat</shippingType><expeditedShipping>true</expeditedShipping><oneDayShippingAvailable>false</oneDayShippingAvailable><handlingTime>3</handlingTime><shipToLocations>US</shipToLocations></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">12.5</currentPrice><convertedCurrentPrice currencyId="USD">12.5</convertedCurrentPrice><bidCount>5</bidCount><sellingState>Active</sellingState><timeLeft>P0DT4H47M3S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2011-11-09T12:45:21.000Z</startTime><endTime>2011-11-12T12:45:21.000Z</endTime><listingType>Auction</listingType><gift>false</gift></listingInfo><returnsAccepted>false</returnsAccepted><condition><conditionId>2750</conditionId><conditionDisplayName>Like
        New</conditionDisplayName></condi[...]
