---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByProduct&RESPONSE-DATA-FORMAT=XML&REST-PAYLOAD=&SECURITY-APPNAME=APP_ID&SECURITY-VERSION=1.12.0&productId=53039031&productId.@type=ReferenceID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Ebay-Esb-Endpointurl:
      - "/Root/ESBFunctions/Services/Ports/7002/profile/search/v1/FindingService/destination_default/address_synapse"
      X-Ebay-Esb-Guid:
      - urn:uuid:119B93213066BDE4821401112792182
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - findItemsByProduct
      X-Ebay-Soa-Request-Id:
      - 145b2211-fe20-a5eb-e516-5196ffdea19e!FindingService!10.94.190.81!v3apifindingcore[!FindItemServiceNextGen!10.94.190.81!v3apifindingcore[]!FindItemServiceNextGen!10.94.190.81!v3apifindingcore[]]
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Metrics:
      - '238274814'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      X-Ebay-Soa-Service-Version:
      - 1.12.0
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><findItemsByProductResponse xmlns="http://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.12.0</version><timestamp>2014-04-30T10:14:46.748Z</timestamp><searchResult
        count="100"><item><itemId>221428857340</itemId><title>The Little Mermaid (DVD,
        2006, 2-Disc Set, Platinum Edition)</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>617</categoryId><categoryName>DVDs
        &amp; Blu-ray Discs</categoryName></primaryCategory><galleryURL>http://thumbs1.ebaystatic.com/m/mPpN8pDJ1OzqN6SJKKIcUaA/140.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/Little-Mermaid-DVD-2006-2-Disc-Set-Platinum-Edition-/221428857340?pt=US_DVD_HD_DVD_Blu_ray</viewItemURL><productId
        type="ReferenceID">53039031</productId><paymentMethod>PayPal</paymentMethod><autoPay>true</autoPay><postalCode>46409</postalCode><location>Gary,IN,USA</location><country>US</country><shippingInfo><shippingServiceCost
        currencyId="USD">0.0</shippingServiceCost><shippingType>FlatDomesticCalculatedInternational</shippingType><shipToLocations>Worldwide</shipToLocations><expeditedShipping>false</expeditedShipping><oneDayShippingAvailable>false</oneDayShippingAvailable><handlingTime>1</handlingTime></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">9.79</currentPrice><convertedCurrentPrice currencyId="USD">9.79</convertedCurrentPrice><sellingState>Active</sellingState><timeLeft>P29DT15H6M58S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2014-04-30T01:21:44.000Z</startTime><endTime>2014-05-30T01:21:44.000Z</endTime><listingType>FixedPrice</listingType><gift>false</gift></listingInfo><returnsAccepted>true</returnsAccepted><condition><conditionId>1000</conditionId><conditionDisplayName>Brand
        New</conditionDisplayName></condition><isMultiVariationListing>false</isMultiVariationListing><topRatedListing>true</topRatedListing></item><item><itemId>251518620982</itemId><title>The
        Little Mermaid DVD (Disney Movie, 2006, 2-Disc Set, Platinum Edition)</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>617</categoryId><categoryName>DVDs
        &amp; Blu-ray Discs</categoryName></primaryCategory><galleryURL>http://thumbs3.ebaystatic.com/m/mVwE_DKGe3QRmRvfRhVi5CA/140.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/Little-Mermaid-DVD-Disney-Movie-2006-2-Disc-Set-Platinum-Editio[...]
