---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsIneBayStores&RESPONSE-DATA-FORMAT=XML&REST-PAYLOAD=&SECURITY-APPNAME=APP_ID&SECURITY-VERSION=1.11.0&keywords=harry%20potter
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Ebay-Esb-Endpointurl:
      - "/Root/ESBFunctions/Services/Ports/7003/profile/search/v1/FindingService/destination_default/address_synapse"
      X-Ebay-Esb-Guid:
      - urn:uuid:DB533DA0949BBF40A41321290046633
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - findItemsIneBayStores
      X-Ebay-Soa-Request-Id:
      - 13396c8c-5670-a0aa-1132-61a2ffed993d!FindingService!10.10.161.19!v3apifindingcore[!FindItemService!10.10.161.19!v3apifindingcore[]]
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      X-Ebay-Soa-Service-Version:
      - 1.11.0
    body:
      encoding: UTF-8
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><findItemsIneBayStoresResponse
        xmlns="http://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.11.0</version><timestamp>2011-11-12T07:58:20.179Z</timestamp><searchResult
        count="100"><item><itemId>200674517796</itemId><title>HARRY POTTER ~ HORCRUX
        LOCKET, TIME TURNER &amp; GOLDEN SNITCH ~ ALL 3 in one LOT!</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>29798</categoryId><categoryName>Harry
        Potter</categoryName></primaryCategory><galleryURL>http://thumbs1.ebaystatic.com/pict/2006745177964040_2.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/HARRY-POTTER-HORCRUX-LOCKET-TIME-TURNER-GOLDEN-SNITCH-ALL-3-one-LOT-/200674517796?pt=LH_DefaultDomain_0</viewItemURL><paymentMethod>CashOnPickup</paymentMethod><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><postalCode>91789</postalCode><location>Walnut,CA,USA</location><country>US</country><shippingInfo><shippingServiceCost
        currencyId="USD">0.0</shippingServiceCost><shippingType>Calculated</shippingType><expeditedShipping>true</expeditedShipping><oneDayShippingAvailable>false</oneDayShippingAvailable><handlingTime>2</handlingTime><shipToLocations>Worldwide</shipToLocations></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">39.98</currentPrice><convertedCurrentPrice currencyId="USD">39.98</convertedCurrentPrice><sellingState>Active</sellingState><timeLeft>P29DT16H59M7S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2011-11-12T00:57:27.000Z</startTime><endTime>2011-12-12T00:57:27.000Z</endTime><listingType>StoreInventory</listingType><gift>false</gift></listingInfo><returnsAccepted>true</returnsAccepted><galleryPlusPictureURL>http://galleryplus.ebayimg.com/ws/web/200674517796_1_1_1.jpg</galleryPlusPictureURL><condition><conditionId>1000</conditionId><conditionDisplayName>New</conditionDisplayName></condition><isMultiVariationListing>false</isMultiVariationListing></item><item><itemId>260891805426</itemId><title>Harry
        Potter 5 inch loose Voldemort Tomy 2011</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>126922</categoryId><categoryName>Harry
        Potter</categoryName></primaryCategory><galleryURL>http://thumbs3.ebaystatic.com/pict/2608918054264040_1.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/Harry-Potter-5-inch-loose-Voldemort-Tomy-2011-/260891805426?pt=LH_DefaultDomain_0</viewItemURL><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><location>Singapore</location><country>SG</country><shippingInfo><shippingServiceCost
        currencyId="USD">4.0</shippingServiceCost><shippingType>Flat</shippingType><expeditedShipping>false</expeditedShipping><oneDayShippingAvailable>false</oneDayShippingAvailable><handlingTime>2</handlingTime><shipToLocations>Worldwide</shipToLocations></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">0.99</currentPrice><convertedCurrentPrice currencyId="USD">0.99</convertedCurrentPrice><bidCount>0</bidCount><sellingState>Active</sellingState><timeLeft>P0DT0H12M40S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2011-11-11T08:11:00.000Z</startTime><endTime>2011-11-12T08:11:00.000Z</endTime><listingType>Auction</listingType><gift>false</gift></listingInfo><returnsAccepted>true</returnsAccepted><condition><conditionId>3000</conditionId><conditionDisplayName>Used</conditionDisplayName></condition><isMult[...]
