---
http_interactions:
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?APPID=APP_ID&CALLNAME=FindProducts&QueryKeywords=harry%20potter&RESPONSEENCODING=XML&SITEID=0&VERSION=745
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Last-Modified:
      - Sat, 12 Nov 2011 07:58:24 GMT
      X-Ebay-Api-Build-Tag:
      - E745_CORE_BUNDLED_14025482_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___dW0ucm83Nyhtdm5paH51Kjc3LTMoNjQ2KDQwPz43OzU=
      X-Ebay-Esb-Guid:
      - urn:uuid:19CEF3E19DBAF77BD4369242182238222751559774535
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <FindProductsResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2011-11-12T07:58:24.223Z</Timestamp>\n
        \  <Ack>Success</Ack>\n   <Build>E745_CORE_BUNDLED_14025482_R1</Build>\n   <Version>745</Version>\n
        \  <ApproximatePages>1250</ApproximatePages>\n   <MoreResults>true</MoreResults>\n
        \  <PageNumber>1</PageNumber>\n   <Product>\n    <DomainName>DVDs</DomainName>\n
        \   <DetailsURL>http://syicatalogs.ebay.com/ws/eBayISAPI.dll?PageSyiProductDetails&amp;IncludeAttributes=1&amp;ShowAttributesTable=1&amp;ProductMementoString=118656:2:1049:4276817045:390427655:3f5acce195ccfcf94a20bffcb51bf332:1:1:1:5000000672452</DetailsURL>\n
        \   <DisplayStockPhotos>true</DisplayStockPhotos>\n    <ProductID type=\"Reference\">110288225</ProductID>\n
        \   <ProductID type=\"UPC\">883929140459</ProductID>\n    <ItemSpecifics>\n
        \    <NameValueList>\n      <Name>Format</Name>\n      <Value>DVD</Value>\n
        \    </NameValueList>\n     <NameValueList>\n      <Name>Rating</Name>\n      <Value>PG-13</Value>\n
        \    </NameValueList>\n     <NameValueList>\n      <Name>Leading Role</Name>\n
        \    </NameValueList>\n    </ItemSpecifics>\n    <ReviewCount>0</ReviewCount>\n
        \   <StockPhotoURL>http://i.ebayimg.com/00/$(KGrHqMOKooE6eVU7UV4BOuWWY5i!g~~_6.JPG?set_id=89040003C1</StockPhotoURL>\n
        \   <Title>Harry Potter and the Deathly Hallows: Part II (DVD, 2011)</Title>\n
        \  </Product>\n   <TotalProducts>1250</TotalProducts>\n  </FindProductsResponse>\n "
  recorded_at: Mon, 28 Apr 2014 10:41:26 GMT
recorded_with: VCR 2.9.0
