---
http_interactions:
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?APPID=APP_ID&CALLNAME=FindProducts&QueryKeywords=harry%20potter&RESPONSEENCODING=XML&SITEID=0&VERSION=799
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Guid:
      - 145b2280-6330-a620-d0e4-9e64c1cdbdbe
      Last-Modified:
      - Wed, 30 Apr 2014 10:22:18 GMT
      X-Ebay-Api-Build-Tag:
      - E849_CORE_APILW2_16526615_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___ZW9nNGQ3MWYrNWA0NygyNSg+Oys2KTI3Nz07NT43
      X-Ebay-Request-Id:
      - 145b2280-6330-a620-d0e4-9e64c1cdbdbe!shopping!10.98.13.14!esbshopping[]
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <FindProductsResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2014-04-30T10:22:18.769Z</Timestamp>\n
        \  <Ack>Success</Ack>\n   <Build>E849_CORE_APILW2_16526615_R1</Build>\n   <Version>849</Version>\n
        \  <ApproximatePages>2535</ApproximatePages>\n   <MoreResults>true</MoreResults>\n
        \  <PageNumber>1</PageNumber>\n   <Product>\n    <DomainName>DVDs</DomainName>\n
        \   <DetailsURL>http://syicatalogs.ebay.com/ws/eBayISAPI.dll?PageSyiProductDetails&amp;IncludeAttributes=1&amp;ShowAttributesTable=1&amp;ProductMementoString=123216:2:1049:4276619924:596298774:2a43b1285e1bac4a2d043cc1eb58f3df:1:1:1:5000000672733</DetailsURL>\n
        \   <DisplayStockPhotos>true</DisplayStockPhotos>\n    <ProductID type=\"Reference\">110258144</ProductID>\n
        \   <ProductID type=\"UPC\">883929182879</ProductID>\n    <ItemSpecifics>\n
        \    <NameValueList>\n      <Name>Movie Rating</Name>\n      <Value>PG-13
        (MPAA)</Value>\n     </NameValueList>\n     <NameValueList>\n      <Name>Genre</Name>\n
        \     <Value>Childrens</Value>\n     </NameValueList>\n     <NameValueList>\n
        \     <Name>Format</Name>\n      <Value>DVD</Value>\n     </NameValueList>\n
        \    <NameValueList>\n      <Name>Work Name</Name>\n      <Value>Harry Potter:
        Complete 8-Film Collection</Value>\n     </NameValueList>\n    </ItemSpecifics>\n
        \   <ReviewCount>345</ReviewCount>\n    <StockPhotoURL>http://i.ebayimg.com/00/$(KGrHqV,!g0E6ZCwQ)wpBOuWbUNB,g~~_6.JPG?set_id=89040003C1</StockPhotoURL>\n
        \   <Title>Harry Potter: Complete 8-Film Collection (DVD, 2011, 8-Disc Set)</Title>\n
        \  </Product>\n   <TotalProducts>2535</TotalProducts>\n  </FindProductsResponse>\n "
  recorded_at: Wed, 30 Apr 2014 10:22:18 GMT
recorded_with: VCR 2.9.0
