---
http_interactions:
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?APPID=APP_ID&CALLNAME=FindPopularItems&QueryKeywords=harry%20original&RESPONSEENCODING=XML&SITEID=0&VERSION=799
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Last-Modified:
      - Wed, 30 Apr 2014 10:22:22 GMT
      X-Ebay-Api-Build-Tag:
      - E849_CORE_APILW2_16526615_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___ZW9nNGQ3MWYrNTsxMygyNSg+OysyNS02NT07NT43
      X-Ebay-Esb-Guid:
      - urn:uuid:urn:uuid:E9E446C18E3BE28B7E6056773527028417-71728874
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <FindPopularItemsResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2014-04-30T10:22:22.035Z</Timestamp>\n
        \  <Ack>Success</Ack>\n   <Build>E849_CORE_APILW2_16526615_R1</Build>\n   <Version>849</Version>\n
        \  <ItemArray>\n    <Item>\n     <ItemID>281318981705</ItemID>\n     <EndTime>2014-05-04T23:04:17.000Z</EndTime>\n
        \    <ViewItemURLForNaturalSearch>http://www.ebay.com/itm/EXCEPTIONAL-1920s-Original-Photo-HARRY-HOUDINI-Master-Magician-SAWBENCH-BLADES-/281318981705</ViewItemURLForNaturalSearch>\n
        \    <ListingType>Chinese</ListingType>\n     <GalleryURL>http://thumbs2.ebaystatic.com/pict/2813189817058080_1.jpg</GalleryURL>\n
        \    <PrimaryCategoryID>197</PrimaryCategoryID>\n     <PrimaryCategoryName>Entertainment
        Memorabilia:Movie Memorabilia:Other</PrimaryCategoryName>\n     <BidCount>2</BidCount>\n
        \    <ConvertedCurrentPrice currencyID=\"USD\">1.25</ConvertedCurrentPrice>\n
        \    <ListingStatus>Active</ListingStatus>\n     <TimeLeft>P4DT12H41M55S</TimeLeft>\n
        \    <Title>EXCEPTIONAL 1920&apos;s Original Photo HARRY HOUDINI Master Magician
        SAWBENCH BLADES</Title>\n     <ShippingCostSummary>\n      <ShippingServiceCost
        currencyID=\"USD\">5.12</ShippingServiceCost>\n      <ShippingType>Calculated</ShippingType>\n
        \     <ListedShippingServiceCost currencyID=\"USD\">5.12</ListedShippingServiceCost>\n
        \    </ShippingCostSummary>\n     <WatchCount>27</WatchCount>\n    </Item>\n
        \   <Item>\n     <ItemID>310941869489</ItemID>\n     <EndTime>2014-05-04T02:00:25.000Z</EndTime>\n
        \    <ViewItemURLForNaturalSearch>http://www.ebay.com/itm/100-Original-Ladys-Harry-Winston-18k-solid-gold-diamond-bezel-/310941869489</ViewItemURLForNaturalSearch>\n
        \    <ListingType>Chinese</ListingType>\n     <GalleryURL>http://thumbs2.ebaystatic.com/pict/3109418694898080_1.jpg</GalleryURL>\n
        \    <PrimaryCategoryID>31387</PrimaryCategoryID>\n     <PrimaryCategoryName>Jewelry
        &amp; Watches:Watches:Wristwatches</PrimaryCategoryName>\n     <BidCount>42</BidCount>\n
        \    <ConvertedCurrentPrice currencyID=\"USD\">678.89</ConvertedCurrentPrice>\n
        \    <ListingStatus>Active</ListingStatus>\n     <TimeLeft>P3DT15H38M3S</TimeLeft>\n
        \    <Title>100% Original Lady&apos;s Harry Winston 18k solid gold with diamond
        bezel</Title>\n     <ShippingCostSummary>\n      <ShippingServiceCost currencyID=\"USD\">39.99</ShippingServiceCost>\n
        \     <ShippingType>FlatDomesticCalculatedInternational</ShippingType>\n      <ListedShippingServiceCost
        currencyID=\"USD\">39.99</ListedShippingServiceCost>\n     </ShippingCostSummary>\n
        \    <WatchCount>26</WatchCount>\n    </Item>\n    <Item>\n     <ItemID>251514473907</ItemID>\n
        \    <EndTime>2014-05-04T23:05:21.000Z</EndTime>\n     <ViewItemURLForNaturalSearch>http://www.ebay.com/itm/RARE-1923-Original-Photo-H[...]
