---
http_interactions:
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?APPID=APP_ID&CALLNAME=GetShippingCosts&DestinationCountryCode=US&DestinationPostalCode=98122&ItemID=110089122715&QuantitySold=1&RESPONSEENCODING=XML&SITEID=0&VERSION=745
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Last-Modified:
      - Sat, 12 Nov 2011 07:58:24 GMT
      X-Ebay-Api-Build-Tag:
      - E745_CORE_BUNDLED_14011937_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dm8ucm83Nyg2MWRiNzM7Kjc3LTQyKTA1KD4xPz43OzU=
      X-Ebay-Esb-Guid:
      - urn:uuid:62CB515CDAAA1C5553376291517569272681626728057
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <GetShippingCostsResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2011-11-12T07:58:24.840Z</Timestamp>\n
        \  <Ack>Failure</Ack>\n   <Errors>\n    <ShortMessage>Invalid item ID.</ShortMessage>\n
        \   <LongMessage>Invalid or non-existent item ID.</LongMessage>\n    <ErrorCode>10.12</ErrorCode>\n
        \   <SeverityCode>Error</SeverityCode>\n    <ErrorParameters ParamID=\"0\">\n
        \    <Value>110089122715</Value>\n    </ErrorParameters>\n    <ErrorClassification>RequestError</ErrorClassification>\n
        \  </Errors>\n   <Build>E745_CORE_BUNDLED_14011937_R1</Build>\n   <Version>745</Version>\n
        \ </GetShippingCostsResponse>\n "
  recorded_at: Mon, 28 Apr 2014 10:41:26 GMT
recorded_with: VCR 2.9.0
