---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByCategory&RESPONSE-DATA-FORMAT=XML&REST-PAYLOAD=&SECURITY-APPNAME=APP_ID&SECURITY-VERSION=1.11.0&categoryId=10181
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Ebay-Esb-Endpointurl:
      - "/Root/ESBFunctions/Services/Ports/7003/profile/search/v1/FindingService/destination_default/address_synapse"
      X-Ebay-Esb-Guid:
      - urn:uuid:4FA6541569CD350F9A1321279699653
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - findItemsByCategory
      X-Ebay-Soa-Request-Id:
      - 13396c8b-2db0-a5a8-ba65-80b5fff137a0!FindingService!10.90.139.166!v3apifindingcore[!FindItemService!10.90.139.166!v3apifindingcore[]]
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      X-Ebay-Soa-Service-Version:
      - 1.11.0
    body:
      encoding: UTF-8
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><findItemsByCategoryResponse
        xmlns="http://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.11.0</version><timestamp>2011-11-12T07:58:15.400Z</timestamp><searchResult
        count="100"><item><itemId>140632742050</itemId><title>3D Printed Antique Bronze
        Shakuhachi Flute</title><globalId>EBAY-ENCA</globalId><primaryCategory><categoryId>10183</categoryId><categoryName>Flute</categoryName></primaryCategory><galleryURL>http://thumbs3.ebaystatic.com/pict/1406327420504040_1.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/3D-Printed-Antique-Bronze-Shakuhachi-Flute-/140632742050?pt=LH_DefaultDomain_2</viewItemURL><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><postalCode>V2C5B1</postalCode><location>Canada</location><country>CA</country><shippingInfo><shippingServiceCost
        currencyId="USD">30.0</shippingServiceCost><shippingType>Flat</shippingType><expeditedShipping>false</expeditedShipping><oneDayShippingAvailable>false</oneDayShippingAvailable><handlingTime>1</handlingTime><shipToLocations>Worldwide</shipToLocations></shippingInfo><sellingStatus><currentPrice
        currencyId="USD">160.0</currentPrice><convertedCurrentPrice currencyId="USD">160.0</convertedCurrentPrice><bidCount>0</bidCount><sellingState>Active</sellingState><timeLeft>P0DT0H13M45S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>true</buyItNowAvailable><buyItNowPrice
        currencyId="USD">199.99</buyItNowPrice><convertedBuyItNowPrice currencyId="USD">199.99</convertedBuyItNowPrice><startTime>2011-11-05T08:12:00.000Z</startTime><endTime>2011-11-12T08:12:00.000Z</endTime><listingType>AuctionWithBIN</listingType><gift>false</gift></listingInfo><returnsAccepted>false</returnsAccepted><condition><conditionId>1000</conditionId><conditionDisplayName>New</conditionDisplayName></condition><isMultiVariationListing>false</isMultiVariationListing></item><item><itemId>200564369342</itemId><title>Turkish
        Woodwind   Cherry   Zurna  Custom Sizes  NEW</title><globalId>EBAY-US</globalId><primaryCategory><categoryId>10183</categoryId><categoryName>Flute</categoryName></primaryCategory><galleryURL>http://thumbs3.ebaystatic.com/pict/2005643693424040_2.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/Turkish-Woodwind-Cherry-Zurna-Custom-Sizes-NEW-/200564369342?pt=LH_DefaultDomain_0</viewItemURL><paymentMe[...]
