---
http_interactions:
- request:
    method: get
    uri: http://svcs.ebay.com/services/search/FindingService/v1?OPERATION-NAME=findItemsByCategory&RESPONSE-DATA-FORMAT=XML&REST-PAYLOAD=&SECURITY-APPNAME=APP_ID&SECURITY-VERSION=1.12.0&categoryId=10181
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      X-Ebay-Esb-Endpointurl:
      - "/Root/ESBFunctions/Services/Ports/7003/profile/search/v1/FindingService/destination_default/address_synapse"
      X-Ebay-Esb-Guid:
      - urn:uuid:75434AC3F6C993567B1400650386267
      X-Ebay-Soa-Locale-List:
      - en-US_US
      X-Ebay-Soa-Message-Protocol:
      - NONE
      X-Ebay-Soa-Operation-Name:
      - findItemsByCategory
      X-Ebay-Soa-Request-Id:
      - 145b2210-1730-a60c-82f2-e642ffe891a8!FindingService!10.96.200.47!v3apifindingcore[!FindItemServiceNextGen!10.96.200.47!v3apifindingcore[]]
      X-Ebay-Soa-Response-Data-Format:
      - XML
      X-Ebay-Soa-Service-Metrics:
      - '206760256'
      X-Ebay-Soa-Service-Name:
      - "{http://www.ebay.com/marketplace/search/v1/services}FindingService"
      X-Ebay-Soa-Service-Version:
      - 1.12.0
    body:
      encoding: UTF-8
      string: '<?xml version=''1.0'' encoding=''UTF-8''?><findItemsByCategoryResponse
        xmlns="http://www.ebay.com/marketplace/search/v1/services"><ack>Success</ack><version>1.12.0</version><timestamp>2014-04-30T10:14:38.910Z</timestamp><searchResult
        count="100"><item><itemId>221423225085</itemId><title>ANTIQUE WOODEN FLUTE/FIFE
        by T. POWER LONDON</title><globalId>EBAY-GB</globalId><primaryCategory><categoryId>10183</categoryId><categoryName>Flute</categoryName></primaryCategory><galleryURL>http://thumbs2.ebaystatic.com/m/mDqUDRUcEN2pXNctSj-DFIg/140.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/ANTIQUE-WOODEN-FLUTE-FIFE-T-POWER-LONDON-/221423225085?pt=UK_Woodwind_Instruments</viewItemURL><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><postalCode>NR172BT</postalCode><location>United
        Kingdom</location><country>GB</country><shippingInfo><shippingServiceCost
        currencyId="USD">26.95</shippingServiceCost><shippingType>Flat</shippingType><shipToLocations>Worldwide</shipToLocations><expeditedShipping>false</expeditedShipping><oneDayShippingAvailable>false</oneDayShippingAvailable><handlingTime>2</handlingTime></shippingInfo><sellingStatus><currentPrice
        currencyId="GBP">107.0</currentPrice><convertedCurrentPrice currencyId="USD">180.25</convertedCurrentPrice><bidCount>17</bidCount><sellingState>Active</sellingState><timeLeft>P0DT0H12M25S</timeLeft></sellingStatus><listingInfo><bestOfferEnabled>false</bestOfferEnabled><buyItNowAvailable>false</buyItNowAvailable><startTime>2014-04-23T10:27:03.000Z</startTime><endTime>2014-04-30T10:27:03.000Z</endTime><listingType>Auction</listingType><gift>false</gift></listingInfo><returnsAccepted>true</returnsAccepted><condition><conditionId>3000</conditionId><conditionDisplayName>Used</conditionDisplayName></condition><isMultiVariationListing>false</isMultiVariationListing><topRatedListing>false</topRatedListing></item><item><itemId>380839396649</itemId><title>New
        Professional Gold Eb Alto Sax Saxophone with Accessories</title><globalId>EBAY-US</globalId><subtitle>Free
        Expedited Shipping! Receive in 1-3 Days!</subtitle><primaryCategory><categoryId>16232</categoryId><categoryName>Alto</categoryName></primaryCategory><galleryURL>http://thumbs2.ebaystatic.com/m/mW8Hjm8Lx1YEOOpare3X12A/140.jpg</galleryURL><viewItemURL>http://www.ebay.com/itm/New-Professional-Gold-Eb-Alto-Sax-Saxophone-Accessories-/380839396649?pt=LH_DefaultDomain_0</viewItemURL><paymentMethod>PayPal</paymentMethod><autoPay>false</autoPay><postalCode>91730</postalCode><location>Rancho
[...]
