---
http_interactions:
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?APPID=APP_ID&CALLNAME=FindReviewsAndGuides&CategoryID=177&RESPONSEENCODING=XML&SITEID=0&VERSION=799
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Last-Modified:
      - Wed, 30 Apr 2014 10:22:23 GMT
      X-Ebay-Api-Build-Tag:
      - E849_CORE_APILW2_16526615_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdDdlaHFg
      X-Ebay-Api-Server-Name:
      - ___dWtgMWQ3MGYrPzsyPigyNSgyMCs3NDcrNzA0Pz43OzU=
      X-Ebay-Esb-Guid:
      - urn:uuid:2C6FC6E4BA8115F4C260514820972797881990776823
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <FindReviewsAndGuidesResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2014-04-30T10:22:23.253Z</Timestamp>\n
        \  <Ack>Success</Ack>\n   <Build>E849_CORE_APILW2_16526615_R1</Build>\n   <Version>849</Version>\n
        \  <BuyingGuideCount>762</BuyingGuideCount>\n   <ReviewsAndGuidesURL>http://search.reviews.ebay.com/_PC+Laptops+%26+Netbooks?uqt=g&amp;ucat=177</ReviewsAndGuidesURL>\n
        \  <PageNumber>1</PageNumber>\n   <TotalPages>153</TotalPages>\n   <BuyingGuideDetails>\n
        \   <BuyingGuide>\n     <Name>How to Buy a Used La...</Name>\n     <URL>http://reviews.ebay.com/How-to-Buy-a-Used-Laptop?ugid=10000000177629477</URL>\n
        \    <CategoryID>177</CategoryID>\n     <Title>How to Buy a Used Laptop</Title>\n
        \    <Text>&lt;img alt=&quot;How to Buy a Used Laptop&quot; class=&quot;ctlgImg&quot;
        height=&quot;257&quot; src=&quot;http://i.ebayimg.com/00/$T2eC16JHJHUFFfj0nceYBRY0mTGBj!~~_35.JPG&quot;
        title=&quot;How to Buy a Used Laptop&quot; width=&quot;257&quot; /&gt;\n&lt;div&gt;\n&lt;p&gt;In
        today&amp;rsquo;s world, everyone is expected to have a method of getting
        online. It seems the first contact information required these days is an email
        address instead of a mailing ad[...]
