---
http_interactions:
- request:
    method: get
    uri: http://open.api.ebay.com/shopping?APPID=APP_ID&CALLNAME=GetMultipleItems&ItemID=190000456297,280000052600,9600579283&RESPONSEENCODING=XML&SITEID=0&VERSION=799
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      Guid:
      - 145b2280-e410-a623-2955-d5e5f8ebe10a
      Last-Modified:
      - Wed, 30 Apr 2014 10:22:20 GMT
      X-Ebay-Api-Build-Tag:
      - E869_CORE_APILW_16784697_R1
      X-Ebay-Api-Pool-Name:
      - ___cDRidW9rdGZpdWY=
      X-Ebay-Api-Server-Name:
      - ___dm97MmQ3MWYrMDtjYygyNSg/NSs3MDMrNzU5PTY/Mw==
      X-Ebay-Request-Id:
      - 145b2280-e410-a623-2955-d5e5f8ebe10a!shopping!10.98.50.149!esbshopping[]
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n  <GetMultipleItemsResponse
        xmlns=\"urn:ebay:apis:eBLBaseComponents\">\n   <Timestamp>2014-04-30T10:22:20.801Z</Timestamp>\n
        \  <Ack>Failure</Ack>\n   <Errors>\n    <ShortMessage>Invalid item ID.</ShortMessage>\n
        \   <LongMessage>Invalid or non-existent item ID.</LongMessage>\n    <ErrorCode>10.12</ErrorCode>\n
        \   <SeverityCode>Error</SeverityCode>\n    <ErrorParameters ParamID=\"0\">\n
        \    <Value>190000456297,280000052600,9600579283</Value>\n    </ErrorParameters>\n
        \   <ErrorClassification>RequestError</ErrorClassification>\n   </Errors>\n
        \  <Build>E869_CORE_APILW_16784697_R1</Build>\n   <Version>869</Version>\n
        \ </GetMultipleItemsResponse>\n "
  recorded_at: Wed, 30 Apr 2014 10:22:20 GMT
recorded_with: VCR 2.9.0
